backports.functools-lru-cache==1.5
Click==7.0
cycler==0.10.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.4
mysqlclient==1.4.2.post1
numpy==1.16.4
PyAudio==0.2.11
PyDejavu==0.1.3
pydub==0.23.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
scipy==1.2.2
six==1.12.0
subprocess32==3.5.4
uWSGI==2.0.18
virtualenv==16.6.0
Werkzeug==0.15.4